<%- include("partials/header.ejs", { title: "aBordo - Fazer chamada" }) %>
</head>

<body>
  <header>
    <div id="logo">
      <img class="logo" src="../images/airplane.svg" alt="">
      <h1 class="logo">aBordo</h1>
    </div>
    <div id="top-right-menu">
      <div id="notifications">
        <img src="../images/sino.png" alt=" ">
      </div>

      <div id="user-options">
        <img src="../images/professor.png" alt="">
        <span>
          <p>Nome do professor</p>
          <p>PROFESSOR</p>
        </span>
      </div>
    </div>
  </header>

  <nav>
    <div class="navbar select">
      <select name="school" id="school" required>
        <option value="" disabled selected>Escola</option>
        <option value="0">Colégio Pedro II</option>
        <option value="1">Escola Técnica Estadual do Ensino Fundamental Visconde de Mauá
      </select>

      <select name="class" id="class" required>
        <option value="" disabled selected>Turma</option>
        <option value="2223">Turma 2223</option>
        <option value="1121">Turma 1121</option>
      </select>

      <select id="course" name="course" required>
        <option value="" disabled selected>Disciplina</option>
        <option value="arts">Artes</option>
        <option value="biology">Biologia</option>
        <option value="sciences">Ciências</option>
        <option value="phys-ed">Educação Física</option>
        <option value="philosophy">Filosofia</option>
        <option value="physics">Física</option>
        <option value="geography">Geografia</option>
        <option value="geomethy">Geometria</option>
        <option value="history">História</option>
        <option value="literature">Literatura</option>
        <option value="math">Matemática</option>
        <option value="music">Música</option>
        <option value="spanish-lang">Língua Espanhola</option>
        <option value="french-lang">Língua Francesa</option>
        <option value="english-lang">Língua Inglesa</option>
        <option value="portuguese-lang">Língua Portuguesa</option>
        <option value="chemistry">Química</option>
        <option value="writing">Redação</option>
        <option value="sociology">Sociologia</option>
        <option value="drama">Teatro</option>
      </select>

      <select name="term" id="term" required>
        <option value="" disabled selected>Trimestre</option>
        <option value="1">1º Trimestre</option>
        <option value="2">2º Trimestre</option>
        <option value="3">3º Trimestre</option>
      </select>
    </div>

    <div class="navbar">
      <ul class="nav">
        <li><a class="nav-link active" href="#">
            Fazer chamada
          </a></li>
        <li><a class="nav-link" href="/lancar-notas">
            Lançar notas
          </a></li>
        <li><a class="nav-link" href="/ver-diario-de-classe">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav>

  <main id="take-attendance">
    <section class="table-settings">
      <div class="selectors">
        <input type="date" name="date" id="date" value=<%= new Date().toISOString().substr(0, 10) %> />
        <select name="period" id="period" onchange="renderAttendanceSheet()">
          <option selected disabled>Tempos de aula</option>
          <option value="1">1 tempo de aula</option>
          <option value="2">2 tempos de aula</option>
          <option value="3">3 tempos de aula</option>
          <option value="4">4 tempos de aula</option>
        </select>
      </div>

      <div class="observations">
        <textarea placeholder="Observações" name="observations" id="observations"></textarea>
        <label for="evaluation-day" class="checkbox-container">Dia de avaliação
          <input type="checkbox" name="evaluation-day" id="evaluation-day" />
          <span class="checkmark"></span>
        </label>
      </div>
    </section>

    <section class="table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="student-number">Nº</th>
            <th class="student-name">ALUNO</th>

            <th class="attendance-check"></th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 1; i <= 50; i++) { %>
          <tr id=<%= "student" + i %>>
            <td class="student-number" id=<%= "student-number" + i %>><%= i %></td>
            <td class="student-name" id=<%= "student-name" + i %>>João de Oliveira da Silva Santos</td>
            <td class="attendance-check">
              <% for (let j = 1; j <= 3; j++) { %>
              <div class="attendance-check" id=<%= "student" + i + "-period" + j %>>
                <label class="present" onclick="checkAttendance()" for=<%= "present-student" + i + "-period" + j %>>
                  PRESENTE
                  <input type="checkbox" name=<%= "attendance-student" + i + "-period" + j %>
                    id=<%= "present-student" + i + "-period" + j %>></label>
                <label class="absent" onclick="checkAttendance()" for=<%= "absent-student" + i + "-period" + j %>>
                  FALTOU
                  <input type="checkbox" name=<%= "attendance-student" + i + "-period" + j %>
                    id=<%= "absent-student" + i + "-period" + j %>></label>
                <label class="late" onclick="checkAttendance()" for=<%= "late-student" + i + "-period" + j %>>
                  ATRASADO
                  <input type="checkbox" name=<%= "attendance-student" + i + "-period" + j %>
                    id=<%= "late-student" + i + "-period" + j %>></label>
              </div>
              <% } %>
            </td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </section>
  </main>

  <%- include("partials/footer.ejs") %>