<%- include("partials/header.ejs", {title: "aBordo - Cadastro"}) %>
</head>

<body>
  <header>
    <div id="logo">
      <img class="logo" src="../images/airplane.svg" alt="">
      <h1 class="logo">aBordo</h1>
    </div>
  </header>

  <nav>
    <h2>Cadastrar</h2>
    <div class="navbar">
      <ul class="nav">
        <li>
          <a class="nav-link" href="#set-user">
            Dados pessoais
          </a>
        </li>
        <li>
          <a class="nav-link" href="#set-schools">
            Escolas
          </a>
        </li>
        <li>
          <a class="nav-link" href="#set-classes">
            Turmas
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <main id="register-teacher">
    <form id="create" action="/professor/cadastrar" method="POST" enctype="multipart/form-data" autocomplete="on">
      <div data-spy="scroll" data-target=".navbar" data-offset="450">
        <section id="set-user">
          <div class="add-pic">
            <label for="pic-file" class="add-pic">
              <img src="../images/silhouette.jpg" id="user-pic" width="176px" height="176px" />
              <div id="text-on-hover"><span>Nova imagem</span></div>
            </label>
            <input type="file" name="picture" id="pic-file" onchange="addPic()" />
          </div>

          <div id="full-name">
            <input type="text" name="forename" id="name" placeholder="Nome" required />

            <input type="text" name="surname" id="surname" placeholder="Sobrenome" required />
          </div>
          <div id=" contact-info">
            <input type="email" name="email" id="email" placeholder="E-mail" />

            <input type="text" name="phone" id="phone" placeholder="Celular" value="(11) 99999 - 9999" />
          </div>
          <div id=" add-password">
            <div class="password">
              <input type="password" name="password" id="password" placeholder="Senha" required />
              <div class="eye-icon" id="eye-icon-1" onclick="toogleVisibility()"></div>
            </div>

            <div class="password">
              <input type="password" id="confirm-password" placeholder="Confirme a senha" required />
              <div class="eye-icon" id="eye-icon-2" onclick="toogleVisibility()"></div>
            </div>
          </div>

          <% 
            if(typeof errors != "undefined") { 
              errors.forEach(error => { 
          %>
          <span><%= error %></span>
          <% 
              }); 
            } 
          %>

          <ul id="password-strength">
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li class="dash"></li>
            <li>Força da senha</li>
          </ul>
          <ul>
            <li><span>x</span> Minúscula</li>
            <li><span>x</span> Maiúscula</li>
            <li><span>x</span> Número</li>
            <li><span>x</span> Símbolo</li>
            <li><span>x</span> 8 caracteres</li>
          </ul>
        </section>

        <section id="set-schools">
          <div id="new-schools">
            <div class="instances-list schools">
              <button type="button" class="selected school1" onclick="select()">
                Escola 1
              </button>
            </div>
            <button type="button" class="btn-add" id="add-school" onclick="addInstance()">
              +
            </button>
            <button type="button" class="btn-del" id="del-school" onclick="delInstance()" disabled>
              Excluir
            </button>
          </div>
          <div class="gray-box">
            <div class="school-location">
              <select name="school1[]" id="state-school1" required>
                <option disabled selected>UF</option>
              </select>

              <select name="school1[]" id="municipality-school1" disabled required>
                <option disabled selected>Município</option>
              </select>
            </div>

            <select name="school1[]" id="school1" disabled required>
              <option disabled selected>Nome da escola</option>
            </select>

            <select name="school1[]" required>
              <option disabled selected>Média para aprovação</option>
              <option disabled>Escala de 0 a 10 pontos</option>
              <option value="5">5,0 pontos</option>
              <option value="6">6,0 pontos</option>
              <option value="7" selected>7,0 pontos</option>
              <option disabled>Escala de 0 a 100 pontos</option>
              <option value="50">50 pontos</option>
              <option value="60">60 pontos</option>
              <option value="70">70 pontos</option>
            </select>

            <p>Sistema de avaliação: <span id="term"></span></p>
            <label class="btn-appearance" id="bimonthly" onclick="isBimonthly()">
              Bimestral
              <input type="radio" name="school1[]" value="4" required />
            </label>
            <label class="btn-appearance" id="trimonthly" onclick="isTrimonthly()">
              Trimestral
              <input type="radio" name="school1[]" value="3" />
            </label>
          </div>
        </section>

        <section id="set-classes">
          <div id="new-classes">
            <div class="instances-list schools">
              <button type="button" class="selected school1" onclick="select()">
                Escola 1
              </button>
            </div>
            <br />
            <div class="instances-list classes">
              <button type="button" class="selected" id="class0" onclick="select()">
                Turma 1
              </button>
            </div>
            <button type="button" class="btn-add" id="add-classes" onclick="addInstance()">
              +
            </button>
            <button type="button" id="del-class" onclick="delInstance()" disabled>
              Excluir
            </button>
          </div>

          <div class="gray-box">
            <div id="class-code">
              <% 
                let date = new Date;
                let year = date.getFullYear(); 
              %>
              <select name="class1-school1[]">
                <option disabled>Ano letivo</option>
                <option value="<%= year %>" selected><%= year %></option>
                <option disabled>•-•-•-•-•</option>
                <option value="newYear">Outro ano letivo</option>
              </select>

              <select name="class1-school1[]" required>
                <option disabled selected>Série/Ano</option>
                <option disabled>Ensino Fundamental</option>
                <option value="Ensino Fundamental-1º ano">1º ano</option>
                <option value="Ensino Fundamental-2º ano">2º ano</option>
                <option value="Ensino Fundamental-3º ano">3º ano</option>
                <option value="Ensino Fundamental-4º ano">4º ano</option>
                <option value="Ensino Fundamental-5º ano">5º ano</option>
                <option value="Ensino Fundamental-6º ano">6º ano</option>
                <option value="Ensino Fundamental-7º ano">7º ano</option>
                <option value="Ensino Fundamental-8º ano">8º ano</option>
                <option value="Ensino Fundamental-9º ano">9º ano</option>
                <option disabled>Ensino Médio</option>
                <option value="Ensino Médio-1ª série">1ª série</option>
                <option value="Ensino Médio-2ª série">2ª série</option>
                <option value="Ensino Médio-3ª série">3ª série</option>
              </select>

              <select name="class1-school1[]">
                <option disabled selected>Número da turma</option>
                <option value="1111">1111</option>
                <option value="1121">1121</option>
                <option value="1131">1131</option>
                <option value="1141">1141</option>
                <option value="1151">1151</option>
                <option value="1161">1161</option>
                <option value="1171">1171</option>
                <option value="1181">1181</option>
                <option value="1191">1191</option>
                <option value="1211">1211</option>
                <option value="1221">1221</option>
                <option value="1231">1231</option>
                <option disabled>•-•-•-•-•</option>
                <option value="newClass">Adicionar nova turma</option>
              </select>
            </div>

            <p>Nesta turma, eu leciono...</p>
            <div id="new-courses">
              <select name="subjects-class1-school1[]" required>
                <option disabled selected>Escolher disciplina</option>
                <%
                  for (subject of subjects) {
                %>
                <option value="<%= subject.id %>"><%= subject.name %></option>
                <%
                  }
                %>
                <option disabled>•-•-•-•-•</option>
                <option value="newSubject">Adicionar nova disciplina</option>
              </select>

              <select name="subjects-class1-school1[]">
                <option disabled selected>Escolher disciplina</option>
                <%
                  for (subject of subjects) {
                %>
                <option value="<%= subject.id %>"><%= subject.name %></option>
                <%
                  }
                %>
                <option disabled>•-•-•-•-•</option>
                <option value="newSubject">Adicionar nova disciplina</option>
              </select>

              <div class="buttons">
                <button type="button" class="btn-add" id="add-course">+</button>
                <button type="button" class="btn-del" id="del-course" disabled>
                  -
                </button>
              </div>
            </div>

            <div id="students-list">
              <div>
                <span id="student-number">Nº</span><span id="student-name">Aluno</span>
              </div>

              <div class="students">
                <input type="number" name="student1-class1-school1[]" value="1" required />
                <input type="text" name="student1-class1-school1[]" placeholder="Nome do aluno" required />
                <label for="course-retake-checkbox-student1" class="checkbox-container">Dependência
                  <input type="checkbox" name="student1-class1-school1[]" class="course-retake-checkbox"
                    id="course-retake-checkbox-student1" data-div-id="course-retake-student1" />
                  <span class="checkmark"></span>
                </label>

                <div class="course-retake-list" id="course-retake-student1" hidden required>
                  <select name="student1-class1-school1[]" id="course-retake-list1-student1">
                    <option value="" disabled selected>Dependência em...</option>
                    <option value="1">Artes</option>
                    <option value="2">Biologia</option>
                    <option value="3">Ciência</option>
                    <option value="4">Educação Física</option>
                    <option value="5">Filosofia</option>
                    <option value="6">Física</option>
                    <option value="7">Geografia</option>
                    <option value="8">Geometria</option>
                    <option value="9">História</option>
                    <option value="10">Informática</option>
                    <option value="11">Língua Espanhola</option>
                    <option value="12">Língua Francesa</option>
                    <option value="13">Língua Inglesa</option>
                    <option value="14">Língua Portuguesa</option>
                    <option value="15">Literatura</option>
                    <option value="16">Matemática</option>
                    <option value="17">Música</option>
                    <option value="18">Química</option>
                    <option value="19">Redação</option>
                    <option value="20">Sociologia</option>
                    <option value="21">Teatro</option>
                  </select>

                  <button type="button" class="btn-add">+</button>
                  <button type="button" class="btn-del" disabled>
                    -
                  </button>
                </div>
              </div>

              <div class="students">
                <input type="number" name="student2-class1-school1[]" value="2" required />
                <input type="text" name="student2-class1-school1[]" placeholder="Nome do aluno" required />

                <label for="course-retake-checkbox-student2" class="checkbox-container">Dependência
                  <input type="checkbox" name="student2-class1-school1[]" class="course-retake-checkbox"
                    id="course-retake-checkbox-student2" data-div-id="course-retake-student2" />
                  <span class="checkmark"></span>
                </label>

                <div class="course-retake-list" id="course-retake-student2" hidden required>
                  <select name="student2-class1-school1[]" id="course-retake-list1-student2">
                    <option value="" disabled selected>Dependência em...</option>
                    <option value="1">Artes</option>
                    <option value="2">Biologia</option>
                    <option value="3">Ciência</option>
                    <option value="4">Educação Física</option>
                    <option value="5">Filosofia</option>
                    <option value="6">Física</option>
                    <option value="7">Geografia</option>
                    <option value="8">Geometria</option>
                    <option value="9">História</option>
                    <option value="10">Informática</option>
                    <option value="11">Língua Espanhola</option>
                    <option value="12">Língua Francesa</option>
                    <option value="13">Língua Inglesa</option>
                    <option value="14">Língua Portuguesa</option>
                    <option value="15">Literatura</option>
                    <option value="16">Matemática</option>
                    <option value="17">Música</option>
                    <option value="18">Química</option>
                    <option value="19">Redação</option>
                    <option value="20">Sociologia</option>
                    <option value="21">Teatro</option>
                  </select>

                  <button type="button" class="btn-add">+</button>
                  <button type="button" class="btn-del" disabled>
                    -
                  </button>
                </div>
              </div>

            </div>
          </div>

          <button type="submit" class="special">Finalizar e levantar voo!</button>
        </section>
      </div>
    </form>
  </main>

  <script src="/javascripts/api.js"></script>
  <%- include("partials/footer.ejs") %>