<%- include("partials/header.ejs", { title: "aBordo - Docente" }) %>
</head>

<body>
    <header>
        <div id="logo">
            <img class="logo" src="../images/airplane.svg" alt="">
            <h1 class="logo">aBordo</h1>
        </div>
        <div id="top-right-menu">
            <div id="notifications">
                <img src="../images/sino.png" alt=" ">
            </div>

            <div id="user-options">
                <img src="../<%= user.picture %>" alt="avatar">
                <span>
                    <p><%= user.forename + " " + user.surname %></p>
                    <p>DOCENTE</p>
                </span>

                <div>
                    <a href="/logout">Sair</a>
                </div>
            </div>
        </div>
    </header>

    <nav>
        <div class="navbar select">

            <select name="school" required>
                <option disabled selected>Escola</option>
                <% schools.forEach(school => { %>
                <option value="<%= school.id %>"><%= school.name %></option>
                <% }) %>
            </select>

            <select name=" subject" required>
                <option disabled selected>Disciplina</option>
                <% subjects.forEach(subject => { %>
                <option value="<%= subject.id %>"><%= subject.name %></option>
                <% }) %>
            </select>

            <select name="class" required>
                <option disabled selected>Turma</option>
                <% classes.forEach(c => { %>
                <option value="<%= c.id %>"><%= c.code %></option>
                <% }) %>
            </select>

            <select name="term" required>
                <% 
                    schools.forEach(school => { 
                        let terms = school.academicTerms;
                        let termType;

                        if (terms == 4) { termType = "Bimestre" }
                        else if (terms == 3) { termType = "Trimestre" }
                %>
                <option disabled selected><%= termType %></option>
                <% 
                        for (let term = 1; term <= terms; term++) { 
                %>
                <option value="<%= term %>"><%= term + "º " + termType %></option>
                <% 
                        }
                    }) 
                %>
            </select>
        </div>

        <div class="navbar">
            <ul class="nav">
                <li><a class="nav-link" href="/professor/fazer-chamada">
                        Fazer chamada
                    </a></li>
                <li><a class="nav-link" href="/professor/lancar-notas">
                        Lançar notas
                    </a></li>
                <li><a class="nav-link" href="/professor/diario-de-classe">
                        Diário de classe
                    </a></li>
                <li><a class="nav-link" href="#">
                        Estatísticas
                    </a></li>
                <li><a class="nav-link" href="#">
                        Contatar responsáveis
                    </a></li>
            </ul>
        </div>
    </nav>

    <main id="">

    </main>

    <%- include("partials/footer.ejs") %>