<%- include("../partials/header.ejs", { title: "aBordo - Lançar notas" }) %>
<link rel='stylesheet' href='/stylesheets/set-notes.css' />
</head>

<body>
  <%- include("../partials/teacher-topMenu.ejs") %>

  <nav>
    <div class="navbar select">

      <select name="school" required>
        <option disabled selected>Escola</option>
        <% schools.forEach(school => { %>
        <option value="<%= school.id %>"><%= school.name %></option>
        <% }) %>
      </select>

      <select name=" subject" required>
        <option disabled selected>Disciplina</option>
      </select>

      <select name="class" required>
        <option disabled selected>Turma</option>
      </select>

      <select name="term" required>
        <% 
              schools.forEach(school => { 
                  let terms = school.academicTerms;
                  let termType;

                  if (terms == 4) { termType = "Bimestre" }
                  else if (terms == 3) { termType = "Trimestre" }
          %>
        <option disabled selected><%= termType %></option>
        <% 
                  for (let term = 1; term <= terms; term++) { 
          %>
        <option value="<%= term %>"><%= term + "º " + termType %></option>
        <% 
                  }
              }) 
          %>
      </select>

    </div>

    <div class="navbar">
      <ul class="nav">
        <li><a class="nav-link" href="/professor/fazer-chamada">
            Fazer chamada
          </a></li>
        <li><a class="nav-link active" href="/professor/lancar-notas">
            Lançar notas
          </a></li>
        <li><a class="nav-link" href="/professor/diario-de-classe">
            Diário de classe
          </a></li>
        <li><a class="nav-link" href="#">
            Estatísticas
          </a></li>
        <li><a class="nav-link" href="#">
            Contatar responsáveis
          </a></li>
      </ul>
    </div>
  </nav>

  <%
    var evaluations = [
      { number: 1, date: null, maxGrade: 10, grade: 5, title: "AVAL. 1", color: "#54A2EB", student_id: null },
      { number: 2, date: null, maxGrade: 10, grade: 2, title: "AVAL. 2", color: "#ff92aa", student_id: null },      
      { number: 3, date: null, maxGrade: 10, grade: 3, title: "AVAL. 3", color: "#fae155", student_id: null },      
      { number: 4, date: null, maxGrade: 10, grade: 10, title: "AVAL. 4", color: "#C979FB", student_id: null }, 
      { number: 5, date: null, maxGrade: 10, grade: null, title: "AVAL. 5", color: "#FFAC60", student_id: null }, 
      { number: 6, date: null, maxGrade: 10, grade: null, title: "AVAL. 6", color: "#41E5AA", student_id: null }
    ]; 
  %>

  <% 
    let possibleTotalPoints = 0;
    evaluations.forEach(evaluation => {
      possibleTotalPoints += Number(evaluation.maxGrade);
    });
  %>

  <main id="grade">
    <section class="table-settings">
      <div class="selectors">
        <select name="evaluation" id="qnt-bars">
          <option value="" selected disabled>Selecione uma avaliação</option>
          <% evaluations.forEach(evaluation => { %>
          <option value=<%= evaluation.number %>>
            <%= evaluation.title %>
          </option>
          <% }) %>
          <option value="+">Adicionar uma nova avaliação</option>
          <option value="-" disabled>Excluir avaliação selecionada</option>
        </select>
      </div>

      <div class="chart">
        <div id="instructions">
          <p>Valor de cada avaliação:</p>
          <div id="disclaimer"></div>
        </div>
        <div id="input-fields">
          <% evaluations.forEach(evaluation => { %>
          <div>
            <label class="title" style=<%= "color:" + evaluation.color %>> <%= evaluation.title %>
            </label>
            <input class="<%= 'max-grade evaluation' + evaluation.number %>" type='number'
              value="<%= evaluation.maxGrade.toFixed(1) %>" step='0.5' min='0' max='10'
              name=<%= "max-grade-evaluation" + evaluation.number %>>
          </div>
          <% }) %>
        </div>
        <div id="container">
          <% evaluations.forEach(evaluation => { %>
          <div class="<%= 'bar evaluation' + evaluation.number %>"
            style="<%= 'width:' + Math.round(100 * (evaluation.maxGrade / possibleTotalPoints)) + '%; background-color:' + evaluation.color %>">
          </div>
          <% }) %>
        </div>
      </div>
    </section>

    <section class="table">
      <table class="table-striped">
        <thead>
          <tr>
            <th class="student-number">Nº</th>
            <th class="student-name">ALUNO</th>

            <% evaluations.forEach(evaluation => { %>
            <th class="<%= 'evaluation evaluation' + evaluation.id %>"><label class="title"
                style=<%= 'color:' + evaluation.color %>><%= evaluation.title %></label></th>
            <% }) %>

            <th class="not-evaluated" id="not-evaluated-header">N/A</th>
            <th class="term-final-grade">MÉDIA</th>
          </tr>
        </thead>
        <tbody>
          <% students.forEach(student => { %>
          <tr>
            <td class="student-number"><%= student.number %></th>
            <td class="student-name"><%= student.name %></td>


            <% evaluations.forEach(evaluation => { 
              this.student_id = student.id;
            %>

            <td class="<%= 'evaluation evaluation' + evaluation.id %>" %>>
              <input type="number" name=<%= "student" + student.id + "-grades[]" %> max="10" min="0" step="0.5"
                value="<%= evaluation.grade %>" placeholder="Nota" disabled></td>

            <% }) %>


            <td class="not-evaluated" id=<%= "student" + student.id + "not-evaluated-check" %>><label
                for="not-evaluated" class="checkbox-container">
                <input type="checkbox" name="not-evaluated" id="not-evaluated" />
                <span class="checkmark"></span>
              </label></td>

            <% 
              let totalPoints = 0;
              let gradedEvaluations = 0;
              evaluations.forEach(evaluation => {
                if(evaluation.grade != null) {
                  totalPoints += Number(evaluation.grade);
                  gradedEvaluations++;
                }
              });
            %>
            <td class="term-final-grade" id=<%= "student" + student.id + "-term-final-grade" %>>
              <%= Math.round(totalPoints / gradedEvaluations).toFixed(1) %> </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </section>
  </main>

  <%- include("../partials/footer.ejs") %>