<%- include("../partials/header.ejs", { title: "aBordo - Docente" }) %>
</head>

<body>
    <%- include("../partials/teacher-topMenu.ejs") %>

    <nav>
        <div class="navbar select">

            <select name="school" required>
                <option disabled selected>Escola</option>
                <% schools.forEach(school => { %>
                <option value="<%= school.id %>"><%= school.name %></option>
                <% }) %>
            </select>

            <select name=" subject" required>
                <option disabled selected>Disciplina</option>
                <% subjects.forEach(subject => { %>
                <option value="<%= subject.id %>"><%= subject.name %></option>
                <% }) %>
            </select>

            <select name="class" required>
                <option disabled selected>Turma</option>
                <% classes.forEach(c => { %>
                <option value="<%= c.id %>"><%= c.code %></option>
                <% }) %>
            </select>

            <select name="term" required>
                <% 
                    schools.forEach(school => { 
                        let terms = school.academicTerms;
                        let termType;

                        if (terms == 4) { termType = "Bimestre" }
                        else if (terms == 3) { termType = "Trimestre" }
                %>
                <option disabled selected><%= termType %></option>
                <% 
                        for (let term = 1; term <= terms; term++) { 
                %>
                <option value="<%= term %>"><%= term + "º " + termType %></option>
                <% 
                        }
                    }) 
                %>
            </select>

        </div>

        <div class="navbar">
            <ul class="nav">
                <li><a class="nav-link" href="/professor/fazer-chamada">
                        Fazer chamada
                    </a></li>
                <li><a class="nav-link" href="/professor/lancar-notas">
                        Lançar notas
                    </a></li>
                <li><a class="nav-link" href="/professor/diario-de-classe">
                        Diário de classe
                    </a></li>
                <li><a class="nav-link" href="#">
                        Estatísticas
                    </a></li>
                <li><a class="nav-link" href="#">
                        Contatar responsáveis
                    </a></li>
            </ul>
        </div>
    </nav>

    <main id="home" style="margin-left: 450px;margin-top: 56px;">
        <div>

            <h3>Lista de dados</h3>
            <br>
            <ul style="margin-bottom: 48px;"> <% for (school of schools) { %>

                <li style="margin-bottom: 18px;"><button type="button"><%= school.name %></button></li>

                <% } %>
            </ul>

            <ul style="margin-bottom: 48px;"> <% for (subject of subjects) { %>

                <li style="margin-bottom: 18px;"><button type="button"><%= subject.name %></button></li>

                <% } %>
            </ul>

            <ul style="margin-bottom: 48px;"> <% for (c of classes) { %>

                <li style="margin-bottom: 18px;"><button type="button"><%= c.code %></button></li>

                <% } %>
            </ul>

            <ul style="margin-bottom: 48px;"> <% for (student of students) { %>

                <li style="margin-bottom: 18px;"><button type="button"><%= student.name %></button></li>

                <% } %>
            </ul>

        </div>
    </main>

    <%- include("../partials/footer.ejs") %>